In [15]:
#read from csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.fillna(12,inplace=True)
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112      12.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45            12    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132      12.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [3]:
#for read 3 rows in csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.head(3)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0

In [5]:
#for read 3 rows in csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.tail(3)

    Duration          Date  Pulse  Maxpulse  Calories
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [6]:
#for read 3 rows in csv file
import pandas as pd
df=pd.read_csv('dirtydata.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
Duration    32 non-null int64
Date        31 non-null object
Pulse       32 non-null int64
Maxpulse    32 non-null int64
Calories    30 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.3+ KB

In [16]:
#for removing empty cells
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df.fillna(12,inplace=True))

None

In [8]:
#for fill empty data with 12
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df.fillna(12,inplace=True))

None

In [21]:
#for fill empty data with 'ba' th column
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print(df['Pulse'].fillna(100,inplace=True))

None

In [22]:
#replace with mean
import pandas as pd
df=pd.read_csv('dirtydata.csv')
x=df['Pulse'].mean()
print("mean",x)
print(df['Pulse'].fillna(x))

mean 103.5
0     110
1     117
2     103
3     109
4     117
5     102
6     110
7     104
8     109
9      98
10    103
11    100
12    100
13    106
14    104
15     98
16     98
17    100
18     90
19    103
20     97
21    108
22    100
23    130
24    105
25    102
26    100
27     92
28    103
29    100
30    102
31     92
Name: Pulse, dtype: int64

In [18]:
#removing wrong data
import pandas as pd
df=pd.read_csv('dirtydata.csv')
print("0 th row:")
print(df.loc[0])
print(df.loc[3,'Pulse'])

0 th row:
Duration              60
Date        '2020/12/01'
Pulse                110
Maxpulse             130
Calories           409.1
Name: 0, dtype: object
109